@typeparam TEntity 
<div class="btn-toolbar" role="toolbar">
    <button class="btn btn-primary" @onclick="EditModel.StartEdit" aria-label="Start Editing" hidden="@(!EditModel.ReadOnly)" disabled="@(!EditModel.ReadOnly)" tabindex="0">
        <span class="oi oi-pencil"></span>
        <span>Edit</span>
    </button>
    <button class="btn btn-primary mr-1" @onclick="EditModel.SaveAsync" aria-label="Save" hidden="@(EditModel.ReadOnly || !EditModel.HasChanges)" disabled="@(!EditModel.HasChanges)" tabindex="0">
        <span class="oi oi-check"></span>
        <span>Save</span>
    </button>
    <button class="btn btn-secondary" @onclick="EditModel.CancelAsync" aria-label="Cancel" hidden="@(EditModel.ReadOnly)" disabled="@(EditModel.ReadOnly)" tabindex="0">
        <span class="oi oi-ban"></span>
        <span>Cancel</span>
    </button>
    <div class="btn-group ml-4" role="group">
        <button class="btn btn-outline-danger" @onclick="EditModel.Delete" aria-label="Delete" hidden="@EditModel.HideDelete" disabled="@EditModel.HideDelete" tabindex="0">
            <span class="oi oi-trash"></span>
            <span>Delete</span>
        </button>
    </div>
    <div class="btn-group ml-4" role="group">
        <button class="btn btn-danger" @onclick="EditModel.CancelDelete" aria-label="Cancel Delete" hidden="@EditModel.HideConfirmDelete" disabled="@EditModel.HideConfirmDelete" tabindex="0">
            <span class="oi oi-bell"></span>
            <span>Cancel Delete</span>
            <span class="oi oi-ban"></span>
        </button>
        <button class="btn btn-outline-danger" @onclick="EditModel.DeleteConfirmedAsync" aria-label="Confirm Delete" hidden="@EditModel.HideConfirmDelete" disabled="@EditModel.HideConfirmDelete" tabindex="0">
            <span class="oi oi-trash"></span>
            <span>Yes, Delete</span>
            <span class="oi oi-trash"></span>
        </button>
    </div>
</div>

@code {

}
