@using BlazorFormSample.Shared.CreatureModels
@using BlazorFormSample.Shared.GameModels
@using BlazorFormSample.Client.SharedComponent
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/creature/{EntityId}"
@page "/creature/new"
@implements System.IDisposable
@inject IService<GameSystem> GameSystemService
@inherits BlazorFormSample.Client.SharedComponent.EntityEditorBase<Creature>

<LoadingIndicator Entity="EditModel">
    <EditToolbar TEntity="BlazorFormSample.Shared.CreatureModels.Creature" EditModel="EditModel"></EditToolbar>
    <EditForm EditContext="EditModel.EditContext">
        <div class="form-row">
            <label class="col-1 align-middle form-label-sm" label-for="gamesystem">Game System</label>
            <InputFlexSelect class="form-control-sm col-2 align-middle" id="gamesystem" @bind-Value="EditModel.Model.GameSystemId" @bind-disabled="ReadOnly">
                <option value=""></option>
                @if (GameSystems != null)
                {
                    @foreach (var gameSystem in GameSystems)
                    {
                        <option value="@gameSystem.Id">@($"{gameSystem.Name} ({gameSystem.Version})")</option>
                    }
                }
            </InputFlexSelect>
        </div>
        <div class="form-row">
            <label class="col-1 align-middle form-label-sm" label-for="name">Name</label>
            <InputText class="form-control-lg col-2 align-middle" id="name" @bind-Value="EditModel.Model.Name" @bind-disabled="ReadOnly"></InputText>
        </div>
        <div class="form-row">

            @if (CreatureEditModel.GameSystem != null)
            {
                <label class="col-1 align-middle form-label-sm" label-for="race">Race</label>
                <InputFlexSelect class="form-control-sm col-2 align-middle" id="race" @bind-Value="EditModel.Model.RaceId" @bind-disabled="ReadOnly">
                    <option value=""></option>

                    @foreach (var race in CreatureEditModel.GameSystem.Races)
                    {
                        <option value="@race.Id">@race.Name</option>
                    }

                </InputFlexSelect>
                <label class="col-1 align-middle form-label-sm" label-for="role">Role</label>
                <InputFlexSelect class="form-control-sm col-2 align-middle" id="role" @bind-Value="EditModel.Model.RoleId" @bind-disabled="ReadOnly">
                    <option value=""></option>

                    @foreach (var role in CreatureEditModel.GameSystem.Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }

                </InputFlexSelect>
            }
            else
            {
                <div class="col-3 font-italic">Select a Game System</div>
            }
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <h4>Attributes</h4>
                </div>
                @if (CreatureEditModel?.GameSystem != null)
                {
                    @foreach (var attr in EditModel.Model.Attributes.OrderBy(x => x.Attribute.Order))
                    {
                        <div class="form-row pl-1">
                            <label class="col-3 align-middle col-form-label-sm" label-for="@attr.Attribute.Name">@attr.Attribute.Name</label>
                            <InputNumber class="form-control col-2 align-middle" id="@attr.Attribute.Name" @bind-Value="attr.Value" @bind-disabled="ReadOnly" min="@(attr.Attribute.Minimum.ToString())" max="@(attr.Attribute.Maximum.ToString())"></InputNumber>
                        </div>
                    }
                }
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Skills</h4>
                </div>
                @if (CreatureEditModel?.GameSystem != null)
                {
                    @foreach (var skillGroup in CreatureEditModel.GameSystem.SkillGroups.OrderBy(x => x.Name))
                    {
                        <div class="form-row pl-1 font-weight-bold">@skillGroup.Name</div>
                        @foreach (var skill in EditModel.Model.Skills.Where(x => x.Skill.SkillGroupId == skillGroup.Id).OrderBy(x => x.Skill.Name))
                        {
                            <div class="form-row pl-3">
                                <label class="col-3 align-middle col-form-label-sm" label-for="@skill.Skill.Name">@skill.Skill.Name</label>
                                <InputNumber class="form-control col-2 align-middle" id="@skill.Skill.Name" @bind-Value="skill.Rank" @bind-disabled="ReadOnly"></InputNumber>
                            </div>
                        }
                    }
                }
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="align-middle form-label" label-for="Description">Description</h4>
                </div>
                <InputTextArea class="form-control" id="description" @bind-Value="EditModel.Model.Description" @bind-disabled="ReadOnly"></InputTextArea>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Inventory</h4>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="form-row">
                            <span class="col-3">Name</span>
                            <span class="col-3">Item Weight</span>
                            <span class="col-3">Quantity</span>
                            <span class="col-3">Total Weight</span>
                        </div>
                        @foreach (var item in EditModel.Model.InventoryItems)
                        {
                            <div class="form-row">
                                <InputText class="form-control-sm col-3 align-middle" @bind-Value="item.Item.Name" @bind-disabled="ReadOnly"></InputText>
                                <InputNumber class="form-control-sm col-3 align-middle" @bind-Value="item.Item.Weight" @bind-disabled="ReadOnly"></InputNumber>
                                <InputNumber class="form-control-sm col-3 align-middle" @bind-Value="item.Quantity" @bind-disabled="ReadOnly"></InputNumber>
                                <input type="number" class="form-control-sm col-3 align-middle float-right" disabled value="@item.Weight" />
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer"><span class="oi oi-plus" aria-label="Add Item" @onclick="AddItem" hidden="@(ReadOnly)"></span></div>
            </div>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</LoadingIndicator>

@code {

    public override string BaseUri => "/creature";
    IEnumerable<GameSystem> GameSystems { get; set; }
    protected CreatureEditModel CreatureEditModel { get; private set; }

    protected override async Task OnParametersSetAsync()
    {
        GameSystems = await GameSystemService.GetListAsync();
        await base.OnParametersSetAsync();
        EditModel.OnModelSet += ModelSet;
        await SetModelAsync();
        EditModel.EditContext.OnFieldChanged += FieldChanged;
    }
    protected override EditModel<Creature> InitializeEditModel()
    {
        CreatureEditModel = new CreatureEditModel(EntityService, GameSystemService);
        return CreatureEditModel;
    }

    private void AddItem()
    {
        EditModel.Model.InventoryItems.Add(new ItemInventory { Id = Guid.NewGuid(), Item = new Item { Id = Guid.NewGuid() } });
    }

    private void ModelSet(Creature model)
    {
        InvokeAsync(SetModelAsync);
    }

    private async Task SetModelAsync()
    {
        if (CreatureEditModel?.GameSystem != null && EditModel.Model.GameSystemId == CreatureEditModel.GameSystem.Id)
        {
            return;
        }
        if (EditModel?.Model != null && EditModel?.Model.GameSystemId != default(Guid))
        {
            CreatureEditModel.GameSystem = await GameSystemService.GetAsync(EditModel.Model.GameSystemId);
        }
        else
        {
            CreatureEditModel.GameSystem = null;
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task ResetGameSystem()
    {
        await SetModelAsync();
        EditModel.Model.Attributes.Clear();
        foreach (var attr in CreatureEditModel.GameSystem.Attributes)
        {
            CreatureEditModel.Model.Attributes.Add(new CreatureAttribute { Attribute = attr, AttributeId = attr.Id, CreatureId = EditModel.Model.Id });
        }
        foreach (var skillGroup in CreatureEditModel.GameSystem.SkillGroups)
        {
            foreach (var skill in skillGroup.Skills)
            {
                EditModel.Model.Skills.Add(new CreatureSkill { Skill = skill, SkillId = skill.Id, CreatureId = CreatureEditModel.Model.Id });
            }
        }
        await InvokeAsync(StateHasChanged);
    }

    public void FieldChanged(object e, FieldChangedEventArgs args)
    {
        if (args.FieldIdentifier.FieldName == "GameSystemId")
        {
            InvokeAsync(ResetGameSystem);
        }
    }

    public override void Dispose()
    {
        if (EditModel?.EditContext != null)
        {
            EditModel.EditContext.OnFieldChanged -= FieldChanged;
        }
        base.Dispose();
    }
}
